@{
  Layout = "_Layout";
}

@using Pierre.Models;

<h1>Vendor Order Details</h1>

<h3>Vendor: @Model["vendor"].vendorName</h3>

<p>Order Name: @Model["order"].OrderName;
   Order Description : @Model["order"].OrderDescription;
   Order Price : @Mode["order"].OrderPrice;
   Order Date : @Mode["order"].OrderDate;
</p>


<p><a href='/vendor/@Model["vendor"].Id/order/new'>Add new order</a></p>