@{
  Layout = "_Layout";
}

@using Pierre.Models;

<h1>Order Details:</h1>

<h3>Vendor : @Model["vendor"].VendorName</h3>
<h3>Order Name: @Model["order"].OrderName</h3>
<h3> Order Description: @Model["order"].OrderDescription</h3>
<h3>Order Price: $ @Model["order"].OrderPrice</h3>
<h3>Order Date: @Model["order"].OrderDate</h3>


<a href='/vendor/@Model["vendor"].Id/order/new'>Add another Order</a>

<p><a href='/vendor'>Return to Vendors</a></p>
<a href='/vendor/@Model["vendor"].Id/order'>back to order list</a> 